body {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 307;
  font-style: normal;
  font-variation-settings: "wdth" 82.7, "YTLC" 500;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: transparent;
  width: 450px;

  margin: 0 auto;
  border: 8px solid #054646;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(207, 192, 192, 0.1);
  overflow: scroll;
}

.card1 {
  width: 150px;
  height: 150px;
  margin: 10px auto;
  background-color: #7a94ed;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.details {
  text-align: left;
  padding: 0 20px;
  height: 150px;
  overflow: auto;
}

h4 {
  color: #333;
  font-size: 13px;
  margin: 0;
}

h2 {
  color: #f2f4f7;
  font-size: 32px;
  margin: 0;
}

.details ul {
  list-style-type: disc;
  padding-left: 20px;
  overflow: hidden;
}

.details li {
  margin-bottom: 8px;
}
